/* Базовая настройка для страницы */
html, body {
    height: 100%; /* Высота документа и body занимают 100% экрана */
    margin: 0;    /* Убираем отступы по умолчанию */
}

body {
    display: flex;
    flex-direction: column; /* Элементы располагаться по вертикали */
}

/* Контейнер для основного содержимого */
main {
    flex: 1; /* Этот контейнер будет растягиваться, занимая все доступное пространство */
}

/* Футер */
footer {
    background-color: #343a40;
    color: white;
    margin-top: auto; /* Это заставит футер располагаться внизу */
    width: 100%;      /* Ширина футера на всю страницу */
}